<!DOCTYPE html>
<html>
<title>Grammar Analyser</title>

<head>
    <link rel="stylesheet" href="/static/col.css">
</head>

<body>
    <h1 id="head">Grammar checker</h1>
    <img id="img1" src="/static/images/img3.png" alt="Grammar">
    <form action="/predict" method='post'>
        <label for="message"></label><br><br><br><br><br>
        <textarea id="msg" name="msg" rows="16" cols="80" placeholder="Enter text here..."></textarea><br><br>
        <input id="sub" type="submit" value="CHECK">
    </form>
</body>

</html>